<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <title>Test</title>
    </head>
    <body ng-app="my_app">

    	<div ng-controller="my_ctrl">

		    <form ng-submit="send_post()">
		    	<input type="enail" ng-model="user_mail">
		    	<input type="password" ng-model="user_password">
		    	<input type="submit">
		    </form>

    	</div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>
